/*Style css*/
/* Paletka kolorów: #B2ACBF, #B6B5C9, #AAACB3, #9EA8B0, #6CACB8*/

html{
	background-color: #9EA8B0;
	margin: 1% 3%;
	}
/* niepoprawne wcięcie */


/* dajemy spację przed znakiem {  */
.menu{
	padding: 10px;
	text-decoration: none;
	margin: 0.5em 0.5em ;
}

.calendar{
/* zerknij tutaj: https://css-tricks.com/poll-results-how-do-you-order-your-css-properties/*/
	margin-top: 50px;
	width: 30%;
	padding: 5px;
	background-color: #FFE6F8;
	border-radius: 10px;	
	text-align: center;
	float:right;
/* Nie używamy już floatów do pozycjonowania elementów - zerknij na CSS3 Flex i Grid */
}

.dunno {
	width: 60%;
}


	
